[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
six = "*"
django-registration = "*"
django-tinymce = "*"
pillow = "*"
django-forms-bootstrap = "*"
django-star-ratings = "*"
django-crispy-forms = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
python-decouple = "*"
dj-database-url = "*"
django-cloudinary-storage = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
